<nav class="nav-wrapper">
    <div class="container">
      <a href="/admin" class="brand-logo">La Royaume Admin</a>
      <a href="#" class="sidenav-trigger" data-target="mobile-nav">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li><a href="/admin/uploadpage">Upload</a></li>
        <li><a href="/admin/editpage">Edit</a></li>
        <li><a href="/admin/userspage">Users</a></li>
        <li><a href="/admin/mail">Mail</a></li>
      </ul>
    </div>
  </nav>

  <ul id="mobile-nav" class="sidenav">
    <li><a href="/admin/uploadpage">Upload</a></li>
    <li><a href="/admin/editpage">Edit</a></li>
    <li><a href="/admin/userspage">Users</a></li>
    <li><a href="/admin/mail">Mail</a></li>
  </ul>