<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <style>
      .progress-bar {
        border: 3px solid darkblue;
        background: white;
      }

      .progress-bar-fill {
        height: 100%;
        width: 0%;
        background: blue;
      }

      .progress-bar, .progress-bar-fill {
        border-radius: 50px;
      }
    </style>
</head>
<body>

  <%- include("./common/navbar.ejs") %>

  <div class="container">
    <h3 class="indigo-text text-darken-4">Edit Videos</h3>
    <div class="row">
      <div class="col s12 m6">
        <form id="search-category">
          <div class="input-field col s12">
            <select name="category" id="select-category">
              <% req.categories.forEach((category, i) => { %>
              <option value="<%= category.id %>"><%= category.name %></option>
              <% }); %>
            </select>
            <label>Video Category</label>
          </div>
          <button type="submit" class="btn right waves-effect waves-light">get all</button>
        </form>  
      </div>
      <div class="col s12 m6">
        <form id="search-title">
          <div class="input-field col s12">
            <input id="video-title" type="text" name="title" required="" />
            <label for="video-title">Search Video Title</label>
          </div>
          <button type="submit" class="btn right waves-effect waves-light">search</button>
        </form>
      </div>
    </div>

    <div id="output"></div>

    <div class="modal" id="edit">
      <div class="modal-content center-align">
        <h4 class="indigo-text text-darken-5">Edit: <span class="video-title"></span></h4>
        <div class="row">
          <form id="edit-form" enctype="multipart/form-data">
            <div class="input-field col s12">
              <input id="video-title2" type="text" value="" name="title" placeholder="Video Title" class="validate" required="" />
            </div>
            <div class="input-field col s12">
              <textarea id="video-summary" name="summary" value="" placeholder="Summary" class="materialize-textarea validate" required=""></textarea>
            </div>
            <div class="file-field input-field col s12">
              <p class="left">Thumbnail   </p>
              <div class="btn waves-effect waves-light">
                <span>File</span>
                <input type="file" id="image" name="image" accept="image/jpg, image/png, image/gif">
              </div>
              <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <div class="col s12">
              <i class="btn left waves-effect waves-light modal-close"><span>cancel</span></i>
              <button type="submit" class="btn right waves-effect waves-light"><span>save</span></button>
            </div> 
          </form>
        </div>
      </div>
    </div>

    <div class="modal" id="delete">
      <div class="modal-content center-align">
        <p class="flow-text">Are you sure you want to permanently delete:</p>
        <p class="flow-text delete-title"></p>
        <div class="col s12">
          <i class="btn left waves-effect waves-light modal-close"><span>cancel</span></i>
          <form id="delete-form">
            <button type="submit" class="btn right red darken-4 waves-effect waves-light"><span>delete</span></button> 
          </form>
        </div>
        <div class="col s12">
          <p>You will not be able to undo delete</p>
        </div> 
      </div>
    </div>

  </div>

</body>

<script src="../js/jquery-3.4.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  $(document).ready(function() {
    var videos = [];

    $(".sidenav").sidenav();

    $("select").formSelect();

    $("#search-category").on('submit', function(event) {
      event.preventDefault();
      var category_id = $("#select-category").val();

      console.log(category_id);

      $.post('/admin/searchvideos', { category_id: category_id }, function(data, status) {
        if (status == "success") {
          output(data);
        } else {
          alert(`Failed to get videos. Status ${status}`);
        }
      }, "json");
    });

    $("#search-title").on('submit', function(event) {
      event.preventDefault();
      var title = $("#video-title").val();

      console.log(title);

      $.post('/admin/searchvideos', { title: title }, function(data, status) {
        if (status == "success") {
          output(data);
        } else {
          alert(`Failed to get videos. Status ${status}`);
        }
      }, "json");
    });

    var output = function (obj) {
      if (obj.length > 0) {
        console.log("output received obj: ", obj);
        $("#output").empty();
        $("#output").append('<ul class="collection"><ul>');
        obj.forEach(element => {
          var html = `<li class="collection-item avatar">`;
          html += `<i class="material-icons indigo-text medium circle">theaters</i>`;
          html += `<div><span class="title">${element.title}</span>`;
          html += `<p class="truncate">${element.summary}</p></div>`;
          html += `<div class="secondary-content">`;
          html += `<button data-target="edit" class="btn-floating modal-trigger edit-btn"><i class="material-icons indigo-text">create</i></button>`;
          html += `<input type="hidden" value="${element.id}">`;
          html += `<button data-target="delete" class="btn-floating modal-trigger delete-btn red darken-4"><i class="material-icons black-text">cancel</i></button>`;
          html += `</div></li>`;
          $("#output").find(".collection").append(html);
        });
        videos = obj;
        $(".modal").modal();
        addListeners();
      } else {
        videos = [];
        $("#output").empty();
        $("#output").append('<p class="flow-text red-text text-darken-4 center-align">Sorry... No videos found!</p>');
      }
    };

    var addListeners = function() {

      $(".edit-btn").click(function() {
        console.log("edit clicked");
        var btn = $(this);
        console.log("next el: ", btn.next())
        var video_id = btn.next().val();
        var video = getVideo(video_id);
        console.log("get video returned:", video);
        $("#edit").find(".video-title").html(`${video.title}`);
        $("#video-title2").val(video.title);
        $("#video-summary").val(video.summary);
        $("#edit").find("form").append(`<input type="hidden" name="id" value="${video.id}" >`);
      });

      $(".delete-btn").click(function() {
        console.log("delete clicked");
        var btn = $(this);
        console.log("prev el: ", btn.prev())
        var video_id = btn.prev().val();
        console.log(video_id);
        var video = getVideo(video_id);
        console.log("get video returned:", video);
        $("#delete").find(".delete-title").html(`${video.title}`);
        $("#delete").find("form").append(`<input type="hidden" name="id" value="${video.id}" >`);
        $("#delete").find("form").append(`<input type="hidden" name="video_src" value="${video.video_src}" >`);
        $("#delete").find("form").append(`<input type="hidden" name="thumbnail" value="${video.thumbnail}" >`);
      });
    }

    var getVideo = function(id) {
      var video = null;
      videos.forEach(function(vid) {
        if (vid.id == id) {
          video = vid;
        }
      });

      return video;
    }

    $("#delete-form").on('submit', function(event) {
      event.preventDefault();

      var form_data = {
        id: $("#delete-form").find("input[name=id]").val(),
        video_src: $("#delete-form").find("input[name=video_src]").val()
      };
      console.log(form_data);

      $.ajax({
        type: 'POST',
        url: '/admin/deletevideo',
        data: form_data,
        datatype: 'json',
        success: function(data) {
          alert(data.response);
          if (data.status == 1) {
            var newvideos = [];
            videos.forEach(function(video) {
              if (video.id !== form_data.id) {
                newvideos.push[video];
              }
            });

            output(newvideos);
            $("#delete").find(".modal-close").click();
          }
        }
      })
    });

    $("#edit-form").on('submit', function(event) {
      event.preventDefault();

      var form_data = new FormData($("#edit-form")[0]);

      $.ajax({
        type: 'POST',
        url: '/admin/updatevideo',
        data: form_data,
        contentType: false,
        processData: false,
        //datatype: 'json',
        success: function(data) {
          alert(data.response);
          if (data.status == 1) {
            videos.forEach(video => {
              if (video.id == data.id) {
                video.title = data.title,
                video.summary = data.summary
              }
            })

            output(videos);
            $("#edit").find(".modal-close").click();
          }
        }
      })
    });
  });

</script>

</html>
