<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/templatemo-video-catalog.css">
</head>
<body>
  <div class="mx-auto tm-content-container">
    <div class="row mt-3 mb-5 pb-3">
      <div class="col-12">
        <div class="col-12 col-md-6">
          <h2>WELCOME TO YOUR ADMIN PAGE</h2>
          <h4>Use options below to add or edit content<h4>
          <ul>
            <li><a href="/admin/uploadpage">Upload Video</a></li>
            <li><a href="/admin/addthumbnail">Add Thumbnail</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
