<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

</head>

<body>
  <%- include("./common/navbar.ejs") %>

  <div class="container">
    <h2 class="indigo-text text-darken-3">ADMINSTRATOR HOME PAGE</h2>
    <h4 class="indigo-text text-darken-4">You are logged in with administrator privileges<h4>
  </div>

  <script src="../js/jquery-3.4.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    $(document).ready(function() {
      $(".sidenav").sidenav();
    });
  </script>
</body>

</html>
