<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <style>
      .progress-bar {
        border: 3px solid #006064;
        background: white;
        visibility: hidden;
      }

      .progress-bar-fill {
        height: 100%;
        width: 0%;
        background: #0097a7;
      }

      .progress-bar, .progress-bar-fill {
        border-radius: 50px;
      }
    </style>
</head>
<body>
  <%- include("./common/navbar.ejs") %>

  <div class="container">
    <h3 class="indigo-text text-darken-4">Upload Video</h3>
    <form id="upload-video" action="/admin/upload" method="POST" enctype="multipart/form-data">
      <div class="row">
        <div class="col s12">
          <span id="ps-message"></span>
        </div>
        <div class="input-field col s12">
          <input id="video-title" type="text" name="title" required="" />
          <label for="video-title">Video Title</label>
        </div>
        <div class="input-field col s12">
          <textarea id="video-summary" name="summary" class="materialize-textarea" required=""></textarea>
          <label for="video-summary">Summary/Info</label>
        </div>
        <div class="input-field col s12">
          <select name="category" form="upload-video">
            <% req.categories.forEach((category, i) => { %>
            <option value="<%= category.id %>"><%= category.name %></option>
            <% }); %>
          </select>
          <label>Video Category</label>
        </div>
        <div class="file-field input-field col s12">
          <div class="btn waves-effect waves-light">
            <span>File</span>
            <input type="file" name="video" accept="video/mp4" required="">
          </div>
          <div class="file-path-wrapper">
            <input class="file-path validate" type="text">
          </div>
        </div>
        <div class="col s12">
          <button id="upload-btn" type="submit" class="btn-large right waves-effect waves-light"><span>Submit</span></button>
          <div id="progress-bar" class="progress-bar">
            <div class="progress-bar-fill center-align">
              <span class="progress-bar-text white-text">0</span>
            </div>
          </div>
        </div> 
      </div>
    </form>
  </div>
</body>

<script src="../js/jquery-3.4.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script>
  $(document).ready(function() {
    $(".sidenav").sidenav();

    $('select').formSelect();

    $('#upload-video').on('submit', function(event) {
      event.preventDefault();

      $('#upload-btn').css('visibility', 'hidden');
      $('#progress-bar').css('visibility', 'visible');

      var form_data = new FormData($('#upload-video')[0]);

      $.ajax({
        xhr: function() {
          var xhr = new window.XMLHttpRequest();
          xhr.upload.addEventListener('progress', function(e) {
            //console.log(e);
            if (e.lengthComputable) {
              var percent = (e.loaded/e.total * 100).toFixed(1);
              $('.progress-bar-text').html(percent + '%');
              $('.progress-bar-fill').css('width', percent + '%');
            }
          });
          return xhr;
        },
        type: 'POST',
        url: '/admin/upload',
        data: form_data,
        processData: false,
        contentType: false,
        success: function(data) {
          alert(data);
          $('#upload-video')[0].reset();
          $('#progress-bar').css('visibility', 'hidden');
          $('#upload-btn').css('visibility', 'visible');
        },
        error: function (xhr, error) {
          alert("Upload Failed");
          $('#progress-bar').css('visibility', 'hidden');
          $('#upload-btn').css('visibility', 'visible');
        }
      });

    });
  });
</script>

</html>
