<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="../fontawesome/css/all.min.css"> <!-- https://fontawesome.com/ -->
    <link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap" rel="stylesheet">
    <!-- https://fonts.google.com/ -->
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/templatemo-video-catalog.css">
</head>
<body>
  <div class="mx-auto tm-content-container">
    <div class="row mt-3 mb-5 pb-3">
      <div class="col-12">
        <div class="col-7 col-md-4">
          <div class="mx-auto tm-about-text-container px-3">
            <form id="password-reset" action="/users/setpassword" method="POST">
              <h1>Password Reset</h1>
              <% if (req.pwdfail) { %>
                <h4><%= req.pwdfail %></h4>
              <% } %>
              <% if (req.isAuthenticated()) { %>
                <p>Enter old password</p>
                <div class="form-group">
                    <input type="password" name="oldpassword" class="form-control rounded-0" placeholder="Password" required="" />
                </div>
              <% } %>
              <p>Enter your new password below</p>
              <% if (req.query.token) { %>
                    <input type="hidden" name="token" value="<%= req.query.token %>">
              <% } %>
              <div class="form-group">
                  <input id="password" type="password" name="password" class="form-control rounded-0" placeholder="Password" required="" />
              </div>
              <div class="form-group">
                 <input type="password" name="password2" class="form-control rounded-0" placeholder="Confirm password" required="" />
              </div>
                  <button type="submit" class="btn btn-primary rounded-0 d-block ml-auto mr-0 tm-btn-animate tm-btn-submit tm-icon-submit"><span>Submit</span></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

<script src="../js/jquery-3.4.1.min.js"></script>
<script src="../js/jquery.validate.min.js"></script>
<script>
  $(document).ready(function() {
    $('#password-reset').validate({
        rules: {
            password: {
                required: true,
                minlength: 8
            },
            password2: {
              required: true,
              equalTo: "#password"
            }
            oldpassword: {
              required: true;
            }
        },
        messages: {
            password: {
                required: "password required",
                minlength: "Must be more than 8 characters"
            },
            password2: {
                required: "Confirmation of password required",
                minlength: "Must be more than 8 characters",
                equalTo: "Must match first password"
            }
        }
    });
  });
</script>

</html>
